{% extends 'base.html.twig' %}


{% block title %}Mon panier{% endblock %}

{% block body %}

<div class=" container text-light">
    <h1 class="titrePanier mt-3">Mon panier</h1> <br> <br>


{% if panier|length > 0 %}

    <table class="table table-dark table-hover mt-3">
    <thead class="enteteTableau">
        <tr>
        <th class="textProduit" scope="col">Produit</th>
        <th scope="col"></th>
        <th scope="col">Qantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Total</th>
        <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        {% set nb_produit = null %}
        {% set total = null %}

    {% for produit in panier %}
    
         <tr>
        
        <td class="imgPanier">
        <img  src="/uploads/{{produit.produit.illustration}}" alt="nom" height='75px'>  <br>
        </td>
        <td>{{produit.produit.name}} <br>
            <small> {{produit.produit.subtitle}}</small>
        </td>

        <td>
            <a class="lienX" href="{{path('panier-reduire', {'id' : produit.produit.id }) }}">
                <img class="iconPanier" src="{{ asset('assets/images/minus.png') }}" height="12px" alt="reduction">   
            </a>
                x {{produit.quantity}}
            <a class="lienX" class="quantite" href="{{path('panier-ajouter', {'id' : produit.produit.id }) }}">
                <img class="iconPanier" class="imgPanier" src="{{ asset('assets/images/plus.png') }}" height="12px" alt="augmentation">   
            </a>
        </td>

        <td>{{(produit.produit.priceQuantity / 100)|number_format(2, ',', '.')}} €</td>
        <td>{{((produit.produit.priceQuantity * produit.quantity)/ 100 )|number_format(2, ',', '.') }} €</td>
        <td> <a class="lienX" href="{{path('panier-supprimer', {'id': produit.produit.id})}}"> <img class="iconPanier" src="{{ asset('assets/images/delete.png') }}" height="18px" alt="supression"></a> </td>


            {% set nb_produit = nb_produit + produit.quantity %}
            {% set total = total + produit.produit.priceQuantity * produit.quantity %}
        </tr>
    </tbody>
    {% endfor %}
    </table>

    <div class="mb-8 pb-5 float-end containerValidation">
        <b>Nombre de produits :</b> {{ nb_produit }} <br>
        <b>Totale de mon panier :</b> {{(total / 100 )|number_format(2, ',', '.') }} € <br>
        <a href=" {{path('commande')}} "class="btn btn-block mt-2 btn-connexion">Valider mon panier</a>
    </div>

    
    {% else %}
        <hr>
        <b><p>Votre panier est vide</p></b>
    {% endif %} 
</div>
{% endblock %}

