{% extends 'base.html.twig' %}

{% block title %}{{produit.name}}{% endblock %}

{% block body %}

<div class="row mb-5 text-light">
    <div class="col-md-5 ">
    <img src="/uploads/{{produit.illustration}}" alt="{{produit.name}}" class="img-fluid">
    </div>
    <div class="col-md-7 my-auto">
        <h3 class=> {{produit.name}} </h3>
        <p>{{produit.subtitle}}gr</p>
        <span class="produit-page-price"> {{(produit.priceQuantity / 100)|number_format(2, ',', '.') }} €/portion  |  {% if produit.priceKg %}{{(produit.priceKg / 100)|number_format(2, ',', '.') }} €/kg{% endif %}</span> 
        <hr>
        <p>
            {{produit.description}}
        </p>
        <hr>
        <a href="{{path('panier-ajouter', {'id' : produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>

        {# {{path('add-to-cart', {'id': produit.id})  }} #}

    </div>
</div>
<hr>    
{# <h2>Nos meilleures ventes</h2>
         <p>Découvrez nos articles les plus vendues.</p>
        <div class="row ">
            {% for produit in produits %}
                <div class="col-md-3">
                    {% include "produit/single_produit.html.twig" %}
                </div>
            {% endfor %}
        </div><!-- /.row --> #}

{% endblock %}