<div class="produit-item text-center text-dark ">
         <a href="{{path('produit',{'slug': produit.slug})}}"> <img src="uploads/{{produit.illustration}}" alt="{{produit.name}}" class="img-fluid card-img-top imgSize"  ></a> 
        <h5 class="mt-3 fw-bold"> {{produit.name}}</h5>
        <span class="produit-subtitle card-body">{{produit.subtitle}}</span> <br>
        <span class="produit-price card-body fw-bold"> {{(produit.priceQuantity / 100)|number_format(2, ',', '.') }} €</span>
  </div>