{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
{# <div class="container shadow min-vh-100 py-2">
    <h5>Bootstrap 5 date picker</h5>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6">
            <label for="startDate">Start</label>
            <input id="startDate" class="form-control" type="date" />
            <span id="startDateSelected"></span>
        </div>
    </div>

    <script>
    let startDate = document.getElementById('startDate')
let endDate = document.getElementById('endDate')

startDate.addEventListener('change',(e)=>{
  let startDateVal = e.target.value
  document.getElementById('startDateSelected').innerText = startDateVal
}) #}


{# </script> #}


 {# <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({ minDate: +3, maxDate: "+1M +10D" });
  } );
  </script>
</head>
<body>

<p>Date: <input type="text" id="datepicker"></p> #}


<div class="text-light">
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
            {{form_start(form,{action:path('commande-validation')}) }} 
            {{form_end(form)}} 
            {% endset %}

            {{ formHtml|replace({'[br]' : '</br>'})|raw }}

        </div>

        <div class="col-md-6">
            <div class='text-center'>
                <b>Récap de ma commande</b> <br>
                <p>Retrouvez le récapitulatif de vos produits.</p>
            </div>


        <div class="order-summary">
                {% for produit in panier %}
                    <div class="row mt-2" >
                        <div class="col-2">
                            <img src="/uploads/{{produit.produit.illustration}}" alt="produit.produit.name" height='75px'>
                        </div>
                        <div class="col-8 my-auto">
                            {{produit.produit.name}} <br>
                            <small>{{produit.produit.subtitle}}</small>
                        </div> 
                        <div class="col-2 my-auto">
                            x {{produit.quantity}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
