{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}



<script>

$(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
                autoclose: true,
 todayHighlight: true,
 format: 'mm/dd/yyyy',
 startDate: new Date(),
 endDate: new Date(new Date().setDate(new Date().getDate() + 5))
                
            });
        });
</script>



<div class="row">
    <div class="col-md-6">
        {% set formHtml %}
          {{form_start(form,{action:path('commande-validation')}) }} 
          {{form_end(form)}} 
        {% endset %}

          {{ formHtml|replace({'[br]' : '</br>'})|raw }}

    </div>

     <div class="col-md-6">
        <div class='text-center'>
            <b>Récap de ma commande</b> <br>
            <p>Retrouvez le récapitulatif de vos produits.</p>
        </div>


       <div class="order-summary">
            {% for produit in panier %}
                <div class="row mt-2" >
                    <div class="col-2">
                        <img src="/uploads/{{produit.produit.illustration}}" alt="produit.produit.name" height='75px'>
                    </div>
                    <div class="col-8 my-auto">
                        {{produit.produit.name}} <br>
                        <small>{{produit.produit.subtitle}}</small>
                    </div> 
                    <div class="col-2 my-auto">
                        x {{produit.quantity}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
{% endblock %}
