{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script>
   
    
  $(function () {
        function disableDays(date) {
            var day = date.getDay();
            return [(day != 0 & day != 1 ), ""];
        }

        $(".datepicker").datepicker({minDate: +3, maxDate: "+1M +10D", dateFormat: 'dd-mm-yy',
            beforeShowDay: disableDays
        });
 });   

  </script>


<div class="text-light">
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
            {{form_start(form,{action:path('commande-validation')}) }} 
            {{form_end(form)}} 
            {% endset %}

            {{ formHtml|replace({'[br]' : '</br>'})|raw }}

        </div>

        <div class="col-md-6">
            <div class='text-center'>
                <b>Récap de ma commande</b> <br>
                <p>Retrouvez le récapitulatif de vos produits.</p>
            </div>


        <div class="order-summary">
                {% for produit in panier %}
                    <div class="row mt-2" >
                        <div class="col-2">
                            <img src="/uploads/{{produit.produit.illustration}}" alt="produit.produit.name" height='75px'>
                        </div>
                        <div class="col-8 my-auto">
                            {{produit.produit.name}} <br>
                            <small>{{produit.produit.subtitle}}</small>
                        </div> 
                        <div class="col-2 my-auto">
                            x {{produit.quantity}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}