<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Boucherie Paux{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Boucherie instalée dans le pas de calais, spécialisée dans la boucherie et la charcutrie artisanal">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }} 
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {# ********************** block header ****************************** #}

{% block header %} 
<header>
    <nav class="navbar navbar-expand-md navbar-custom">
        <a class="navbar-brand logo-navbar" href="{{ path('home') }}">
            <img src="{{ asset('build/images/logo.png') }}" alt="logo"  class="d-inline logo block align-text-top ">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link navigation" href="#">Nos produits</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link navigation" href=" {{ path('presentation')}}">Qui sommes-nous?</a>
                </li>
            </ul>            
            <form class="d-flex">
                <button class="btn-connexion" type="submit">Se connecter</button>
                <button class="btn-inscription" type="submit">S'inscrire</button>
            </form>
        </div>
    </nav>
</header>
{% endblock %}

{# ************************* block photo page d'accueil ************************************ #}

{% if block('photoPageAccueil') is defined %}
        <div class="container-fluide">
        <div class="row g-0">
            <div class="col-1 bordure-photo-accueil bg-dark"></div>
            <div class="col-10">
                <img src="{{ asset('build/images/devanture.png')}}" class="imageDevanture" alt="devanture">
            </div>
            <div class="col-1 bordure-photo-accueil bg-dark"></div>
        </div>
    </div>

        <div class="container-fluide">
            <div class="row g-0">
                <div class="col-1 bordure-photo-accueil bg-dark"></div>
                    <div class="col-10">
                        <div class=" col-10 presentationAccueil">
                            <div>
                                <img src="{{ asset('build/images/metro.png')}}" class="imageMetro" alt="carrelage-metro"> 
                            </div>
                            <div class="texteAccueil">
                                <p> La boucherie Paux, basée à Serques dans le pas de calais est spécialisé dans le commerce de la boucherie et charcuterie artisanale. Son gérant Benoit Paux, vous propose des viandes de qualité, des charcuteries maisons et un service traiteur à emporter.</p>
                            </div>
                        </div>
                    </div>
                <div class="col-1 bordure-photo-accueil bg-dark"></div>
            </div>
        </div>
{% endif %}

{# ************************************** page de presentation **************************** #}

{% if block('presentation') is defined %}
        <div class="container-fluide">
            <div class="row g-0">
                <div class="infoGenerale">
                    <div>
                        <img src="{{ asset('build/images/bgViande.jpg')}}" class="imageBg" alt="photo-viande"> 
                    </div>
                    <div class="presentation">
                        <div class="textePresentation">
                            <h3 class="titrePresentation">Boucherie Paux</h3>
                            <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere dicta, numquam, deleniti debitis nihil eaque exercitationem asperiores tenetur officia aut aspernatur dolore illum ullam suscipit in adipisci totam reprehenderit temporibus ipsum dolor sit, amet consectetur adipisicing elit. Facere dicta, numquam, deleniti debitis nihil eaque exercitationem asperiores.</p>
                        </div>
                        <div>
                            <img src="{{ asset('build/images/benoitPaux.png')}}" class="photoBenoitPaux" alt="photoGerant">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
{% endif %}

{# **************************** block footer *********************************************** #}

{% block footer %}
        <footer class="footer-custom">
            <div class="container text-white">
                <div class="row">
                    <div class="col-2">
                        <div>
                            <a href="#">
                                <img src="{{ asset('build/images/facebook.png')}}" class="icon-facebook" alt="icon-facebook">
                            </a>
                        </div>
                    </div>
                    <div class="col-3 contact">
                        <p>Téléphone: 03.21.95.21.54</p>  
                        <p> Mail: xxxxxxx@xxxx.fr</p>
                    </div>
                    <div class="col-4 logo-cvg">
                        <img src="{{ asset('build/images/logo.png') }}" alt="logo"  class="logo-footer"> 
                        <a href="" class="lien-CVG">
                            <p>Conditions d'utilisation</p>
                        </a>
                    </div>
                    <div class="col-3 horaires">
                        <p>Horaires: </p>
                        <p>Du <span class="jours-ouverts">lundi au samedi </span> de 07h00 à 12h30 et de 14h30 à 19h00. </p>
                        
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}

    </body>
</html>
